@font-face {
  font-family: "Bai_Jamjuree";
  src: url("./assets/fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bai_Jamjuree", Arial, Helvetica, sans-serif;
  transition: all ease 1s;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
  color: #fff;
}

.nav_bar_links {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-right: 50px;
  z-index: 10;

}

#link:hover{
  /* color: red; */
  scale: 1.3;
  cursor: pointer;
}

.logo_div {
  height: 150px;
  width: 150px;
  margin-left: 100px;
  z-index: 10;
  color: white;
  /* border: 2px solid black; */
  background-image: url("./assets/univer-removebg-preview.png");
  background-size: cover;
}

.hero_nav_parent {
  height: 100vh;
  background-image: url("./assets/slider-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.upper{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}


.hero_div {
  height: 600px;
  /* border: 2px solid black; */

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.hero_div h1 {
  font-size: 110px;
}

.hero_div_text {
  padding-top: 30px;
  font-size: 50px;
  z-index: 10;
}

#gs{
  z-index: 10;
}

.courses_div {
  border: 2px solid black;
  text-align: center;
  background-image: url("./assets/cources_bg_pattern.jpg");
}

.courses_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  height: 600px;
}

.courses_wrapper div {
  height: 40%;
  width: 40%;
  /* background-color: aqua; */
  margin: 10px;
  border-radius: 15px;

  background-size: cover;

  text-align: center;
  background-color: cornflowerblue;
  color: whitesmoke;
  box-shadow: 10px 5px 5px rgb(68, 68, 68);
  cursor: pointer;
}

.courses_wrapper div:hover {
  transform: scale(1.05);
  box-shadow: 20px 10px 10px rgb(68, 68, 68);
}

.courses_wrapper div:hover h1 {
  color: red;
  text-decoration: underline;
}

.courses_wrapper div h1 {
  margin-top: 15px;
  text-transform: uppercase;
}

.courses_wrapper div p {
  padding: 0 25px;
  margin-top: 15px;
}

.courses_wrapper div:hover p::first-letter {
  color: red;
  font-size: 30px;
}

/* .courses_1{
    
}
.courses_2{
   
}
.courses_3{
   
}
.courses_4{
   
} */

.courses_div_heading {
  margin-top: 50px;
}

.courses_div_title {
  margin-top: 20px;
}

.cta_div {
  height: 475px;
  /* padding: 50px 0; */
  background-image: url("./assets/university.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  color: whitesmoke;
}

.cta_div p {
  font-size: 30px;
  padding-top: 200px;
}

.cta_div h1 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

}


.btn {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #0082FA;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;

}

.btn:hover {
  border-radius: 15px;
  box-shadow: 10px 5px 5px #01182e;
  transform: scale(1.05);
}


footer {
  height: 200px;
  border: 2px solid black;
  text-align: center;
}

.btt {
  background-color: #0082FA;

  position: fixed;
  right: 2rem;
  bottom: 2rem;
  color: whitesmoke;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.facility_div{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.f_card {
  height: 250px;

  position: relative;

  width: 500px;
  margin: 10px;

  transform: perspective(1115px);

  transform-style: preserve-3d;

}

.f_ch_1 {
  position: absolute;
  background-color: #51b6b2;
  height: 100%;
  z-index: 1;
  backface-visibility: hidden;
  border-width: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 5px 5px rgb(49, 49, 49);
}

.f_ch_2 {
  position: absolute;
  background-color: #51b6b2;
  height: 100%;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  border-width: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 5px 5px rgb(49, 49, 49);
}


.f_ch_1 p{
  width: 80%;
}

.f_ch_1 h1{
  margin-bottom: 20px;
}

.f_ch_2 p{
  width: 80%;
}

.f_ch_2 h1{
  margin-bottom: 20px;
}

.f_card:hover .f_ch_1 {
  z-index: 0;
  transform: rotateY(180deg);

  transition: all 0.5s ease-out 0s;
}

.f_card:hover .f_ch_2 {

  transform: rotateY(0);
}

.gallary_div{
  position: relative;
  height: 500px;
  border: 2px solid black;
  text-align: center;
  color: black;
}

#gallary_ch_1{ 

height: 100%;

  border: 2px solid black;
  background-size: cover;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  overflow: hidden;
  
}

.gallery img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 1;
  /* border: 2px solid #333; */
}